.foot-desc-txt {
  margin-top: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: rgb(14, 47, 47);
}

.sns-context {
  margin-top: 17px;
  width: 137px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot-category-title {
  width: 106px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: rgb(14, 47, 47);
}

.foot-category-link {
  margin-top: 20px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
}

.foot-category-link a {
  color: rgb(14, 47, 47);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.find-us {
  display: flex;
  flex-direction: row;
}

.find-us span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: rgb(14, 47, 47);
  font-weight: bold;
}

.find-us div {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  color: rgb(14, 47, 47);
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.2;
  font-family: "Lucida Grande";
  color: rgb(14, 47, 47);
}

.copyright-txt {
  margin-top: 17px;
  font-family: "Lucida Grande";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: rgb(14, 47, 47);
}

.foot-category-title:after {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.foot-category-title:hover:after {
  transform: scaleX(1);
}

.sns-context img {
  margin-left: 10px;
  height: 25px;
  width: 30px;
}
