.products-page {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
}

.products-page .products {
  width: 100%;
  height: auto;
  display: flex;
  background: #efeff4;
  flex-direction: column;
}

.products-page .products .brand-logo {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.products-page .products .avatar-big-box {
  position: relative;
  width: 100%;
  height: 123px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .products .section-title {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: normal;
  font-size: 30px;
}

.products-page .products .section-title .red input {
  background-color: #e8e1e1;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 2px;
  margin-right: 5px;
  padding-left: 10px;
}

.products-page .products .section-title .search-button {
  margin-top: 6px;
  height: 38px;
  background-color: #68b300;
  color: #fff;
  transition: background-color 0.7s ease;
}

.products-page .products .section-title .search-button:hover {
  background-color: #526b86;
}

.products-page .products .section-title .search-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(34, 69, 106, 0.5);
}

.products-page .products .avatar-big-box .section-title .title {
  margin-right: 200px;
}

.products-page .products .dishes-filter-box .order {
  color: white;
  border: none;
  width: 100px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s ease;
  background-color: #68b300;
  margin-right: 10px;
}

.products-page .products .dishes-filter-box .order:hover {
  background-color: #526b86;
}

.products-page .products .dishes-filter-box .order:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(34, 69, 106, 0.5);
}

.products-page .products .dishes-filter-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.products-page .products .dishes-filter-box .btn {
  font-weight: 500;
  font-size: 17px;
}

.products-page .products .dishes-filter-box .btn:hover {
  color: #fff;
  background-color: #56a149;
}

.products-page .products .dishes-filter-box .btn:focus {
  outline: none;
  transform: scale(1.05);
}

.products-page .products .dishes-filter-section {
  width: 100%;
  height: 140px;
}

/** Category Section  */

.products-page .products .list-category-section {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.products-page .products .product-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin-top: 60px;
  width: 80px;
}

.products-page .products .product-category .order {
  transform: rotate(-90deg);
  margin-bottom: 50px;
}

.products-page .products .product-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.products-page .products .product-wrapper .product-card {
  cursor: pointer;
  height: 540px;
  width: 30%;
}

.products-page .products .product-wrapper .product-img {
  width: 360px;
  height: 75%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.products-page .products .product-wrapper .product-img:hover {
  background-color: rgb(228, 222, 222);
}

.products-page .products .product-wrapper .product-img:hover .product-btns {
  margin-top: 10px;
  display: block;
}

.products-page .products .product-wrapper .product-img .product-btns {
  display: none;
}

.products-page .products .product-wrapper .product-btns .view-btn {
  color: rgb(225, 213, 213);
}

.products-page .products .product-wrapper .product-btns .view-btn .badge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-page .products .product-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4px;
}

.products-page .products .product-wrapper .product-sale {
  width: 90px;
  height: 30px;
  border-radius: 25px;
  background: #ff9200;
  box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .products .product-desc .product-title {
  text-align: left;
  color: gray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

.products-page .products .product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 4px;
}

.products-page .products .product-wrapper .no-data {
  width: 100%;
  height: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppings";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #161109;
}

.products-page .products .pagination-section {
  margin-bottom: 50px;
}

/*  Family brand */

.products-page .products .brands-logo {
  width: 100%;
  background-color: black;
}

.products-page .products .brands-logo .family-brands {
  width: 100%;
}

.products-page .products .brands-logo .family-brands .brand-list {
  min-height: 650px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.products-page .products .brands-logo .family-brands .category-title {
  color: #e3c08d;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.products-page .products .brands-logo .review-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}

.products-page .products .brands-logo .rest-logo {
  width: 258.78px;
  height: 350px;
  border-radius: 20px;
  background: #0d1518;

  box-shadow: 0px 0px 22px 0px #e4d4d4;
}

/* Address */

.products-page .products .address {
  width: 100%;
}

.products-page .products .address .title {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.products-page .products .address-area {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #efeff1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 700px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  max-height: 710px;
  background: #e7e3e3;
  border-radius: 4px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  max-height: 710px;
  display: flex;
  background: #ffffff;
  border-radius: 4px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.products-page .chosen-product .info-box .form-control {
  width: 140px;
  height: 50px;
  margin-top: 5pxpx;
  margin-bottom: 0px;
}

.products-page .chosen-product .product-container .increment-or-basket {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.products-page .chosen-product .product-container .add-to-basket {
  width: 30px;
  height: 30px;
}

.products-page .chosen-product .info-box .small-label {
  font-size: 19px;
}

.product-container .cart img {
  cursor: pointer;
}

.product-container .cart img:active {
  background-color: rgba(61, 225, 61, 0.5);
  transform: scale(1.2);
}

.products-page .chosen-product .info-box .plus-minus {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .info-box .plus-minus img:active {
  background-color: rgba(61, 225, 61, 0.5);
  transform: scale(1.2);
  border-radius: 50%;
}

.products-page .chosen-product .info-box .plus-minus .minus {
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.products-page .chosen-product .info-box .plus-minus .increment {
  height: 25px;
  cursor: pointer;
}

.products-page .chosen-product .info-box .plus-minus p {
  font-size: 20px;
  margin-right: 5px;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 96px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 40px;
  margin-bottom: 35px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #161109;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.products-page .chosen-product .button-box button {
  width: 150px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #000;
  background-color: rgb(48, 255, 48);
  transition: background-color 0.5s;
}

.products-page .chosen-product .button-box .greater {
  display: none;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  margin-bottom: 1px;
}
.products-page .chosen-product .button-box button:hover {
  background-color: rgb(19, 75, 19);
  color: #fff;
}

.products-page .chosen-product .button-box button:hover .greater {
  display: block;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 100px;
}

.products-page .chosen-product .check {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 70px;
  font-size: 25px;
  margin-bottom: 85px;
  background-color: rgb(118, 220, 118);
  color: white;
}

/** EVENTS **/
.events-frame {
  width: 100%;
  height: 745px;
  background: #f0f0f5;
  display: flex;
  padding: 20px;
}

.category-title {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  color: #343434;
  padding-top: 10px;
}

.events-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.events-main .events-text {
  width: auto;
  height: 70px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events-main .prev-next-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 30px 0;
  height: 25px;
}

.dot-frame-pagination {
  width: auto;
  display: flex;
  gap: 10px;
}

.events-main .events-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.events-info .events-info-frame {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-frame .events-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 15px;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.events-frame .events-img:hover {
  transform: scale(1.05);
}

.events-frame .events-desc {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 85%;
  bottom: 1px;
  box-shadow: 0px 15px 20px rgba(86, 70, 70, 0.1);
  border-radius: 1px;
  background-color: rgba(251, 255, 202, 0.4);
}

.events-frame .events-desc .events-bott {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events-frame .events-desc .events-bott .bott-left {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.events-frame .bott-left .event-title-speaker {
  display: flex;
  justify-content: space-between;
}

.events-frame .event-title-speaker .event-organizator {
  display: flex;
  align-items: center;
}

.events-frame .event-title-speaker .event-organizator img {
  width: 22px;
  margin-right: 8px;
}

.events-frame .bott-left .text-desc {
  margin-top: 8px;
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.events-frame .bott-info-main {
  margin-top: 10px;
  width: 100%;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6d6d6d;
}

.events-frame .bott-info-main img {
  height: 23px;
  width: 23px;
}

.events-frame .bott-info-main div {
  display: flex;
  align-items: center;
}

.events-frame .bott-info-main p {
  margin-right: 8px;
  margin-left: 8px;
}

.events-frame .swiper-wrapper {
  display: flex;
  gap: 15px;
}

.events-frame .swiper-pagination-bullet {
  margin-right: 6px;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.events-frame .swiper-pagination-bullet-active {
  background: #343434;
}

.products-page .static-frame {
  width: 100%;
  height: 250px;
  background: linear-gradient(135deg, #2c2c2c 0%, #404040 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.products-page .static-frame::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.products-page .static-frame .info {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  z-index: 2;
}

.products-page .static-frame .info .static-box {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(6px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.products-page .static-frame .info .static-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.products-page .static-frame .info .static-box .static-num {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.2;
  color: #1a8f9a;

  transition: color 0.3s ease;
}

.products-page .static-frame .info .static-box:hover .static-num {
  color: #1a8f9a;
}

.products-page .static-frame .info .static-box .static-txt {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #1a8f9a;
  transition: color 0.3s ease;
}

.products-page .static-frame .info .static-box:hover .static-txt {
  color: #1a8f9a;
}
.gatorade-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gatorade-video:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.ads-gatorade-frame {
  max-width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28599d;
  padding: 10px;
  border-radius: 12px;
}

.top-title {
  font-size: 2.5rem; /* Large font size for emphasis */
  font-weight: 700; /* Bold font */
  color: #333; /* Dark color for good contrast */
  text-align: center; /* Center-align the title */
  text-transform: uppercase; /* Make the title all uppercase for a strong presence */
  letter-spacing: 2px; /* Add spacing between letters */
  margin: 20px 0; /* Add vertical margin */
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.top-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #136353; /* Accent color for the underline */
  transition: width 0.9s ease, left 0.3s ease; /* Smooth animation */
}

.top-title:hover::before {
  width: 100%;
  left: 0;
}
