.user-page {
  width: 100%;
  height: auto;
  display: flex;
  background: #f8f8ff;
}

.user-page .css-heg063-MuiTabs-flexContainer {
  flex-direction: column;
}

.user-page .css-mn3ro6-MuiTabs-indicator {
  height: 0px;
  width: 0px;
}

.user-page .css-1ujnqem-MuiTabs-root {
  width: 100%;
}

.user-page .my-page-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 50px 0 50px 0;
  justify-content: space-between;
  margin-bottom: 20px;
}

.my-page-frame .my-page-left {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my-page-left .my-page {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  font-family: "Lucida Grande";
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.2;
  font-size: 40px;
  color: rgb(20, 165, 165);
}

.my-page-left .menu-content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my-page-left .write-content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.user-page .menu-content .post-content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my-page-frame .my-page-right {
  margin-top: 120px;
  margin-left: 30px;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.user-page .order-info-box {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(220, 220, 185);
  border-radius: 16px;
}

.user-page .order-info-box .setting {
  margin-left: 200px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.user-page .paper {
  margin-left: 200px;
}

.user-page .paper .password {
  font-weight: bold;
  font-size: 16px;
}

.user-page .paper .email {
  font-weight: bold;
  font-size: 16px;
}

.user-page .paper .deleteAccount {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.user-page .order-info-box .order-user-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-page .order-info-box .order-user-img .order-user-avatar {
  width: 150px;
  height: 150px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border-radius: 37px;
}

.user-page .order-info-box .order-user-icon-box {
  position: absolute;
  padding: 5px;
  width: 37px;
  height: 37px;
  top: 81%;
  right: 0;
  display: flex;
  background: rgb(209 209 209 / 33%);
  border-radius: 37px;
}

.user-page .order-info-box .order-user-name {
  margin-top: 10px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #08090d;
}

.user-page .order-info-box .order-user-prof {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #a1a1a1;
}

.user-page .order-info-box .user-media-box {
  margin-top: 10px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-page .order-info-box .user-media-box img {
  cursor: pointer;
  width: 20px;
}

.user-page .order-info-box .user-media-box .youTube {
  cursor: pointer;
}

.user-page .order-info-box .user-desc {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  color: #616164;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.user-page .order-info-box .user-email {
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.user-page .order-info-box .css-1e3kzd4-MuiButtonBase-root-MuiButton-root {
  margin-top: 15px;
  min-width: 90%;
  height: 44px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #f8f8ff;
}

.user-page .menu-box img {
  width: 25px;
}

.user-page .menu-box span {
  margin-left: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}

.user-page .settings {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.user-page .settings .input-frame {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-page .settings .short-input {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.user-page .settings .long-input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.user-page .settings .spec-label {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #f8f8ff;
}

.user-page .settings .spec-input {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
  height: 54px;
  border: none;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.user-page .settings .spec-textarea {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  height: 200px;
  border: none;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.user-page .settings .member-media-frame {
  margin-top: 25px;
  position: relative;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 5px;
}

.user-page .settings .member-media-frame .mb-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-page .settings .media-change-box {
  position: relative;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-page .settings .media-change-box span {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #140342;
}

.user-page .settings .media-change-box p {
  margin: 10px 0px 14px 0px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.user-page .settings .cloud {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.user-page .settings .cloud:hover {
  background-color: greenyellow;
}

.user-page .settings .bin {
  height: 30px;
  width: 25px;
  cursor: pointer;
}

.user-page .settings .bin:hover {
  background-color: greenyellow;
}

.user-page .settings .up-del-box input {
  position: absolute;
  width: 20px;
  height: 16px;
  padding: 0;
  background: red;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.user-page .settings .save-box {
  display: flex;
  justify-content: start;
  margin-top: 25px;
}
